<!doctype html>
<html>

<!-- HEADER COMPONENT -->
<head>
  <title>Voyage</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
  <link rel="mask-icon" href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
</head>

<body>

<div class="container mt-3">
  <div class="row">
    <legend>Sign in</legend>

    <form method="POST" action="/auth/verify/" accept-charset="UTF-8" role="form">

      <input type="email" class='form-control' name="email" placeholder="Your Email Address" autofocus=""> 
      <br>
      <input type="password" class='form-control' name="password" placeholder="Password" autofocus="">

      <button type="submit" name="submit" class="btn btn-primary mt-3">Sign in</button>
    </form>  
  </div>
</div>

</body>
</html>