@import url('https://fonts.googleapis.com/css?family=Pacifico');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#voyageMap {
    height: 400px;
    width: 100%;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

#markerPopup {
    max-height: 250px;
    max-width: 250px;
}

#markerPopup img {
    max-width: 50%;
    height: auto;
}

#advanced-op {
    display: none;
}

#advanced-op-button {
    background: none;
    border: none;
    text-decoration: underline;
    color: #007bff;
}
