<!DOCTYPE html>
<html>
<!-- HEADER COMPONENT -->
<head>
  <title>Voyage</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Bon Voyage!</h1>    
            </div>            
        </div>
    </div>
</body>
</html>